doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //Open Sans
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

    //Bootstrap
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    script(src='./jquery.min.js')
    script(src='./js/bootstrap.min.js')

    block head
  body
    block content
