.btn-auth {
    background-color: rgb(204, 92, 10);
    color: black;
    padding: 0.5vw;
    border-radius: 0%;
    font-weight: bold;
    margin-top: 2vh;
    width: 100%;
    text-align: center;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

.carousel {
    margin-top: 1vh;
}

.col-centered h2 {
    text-align: center;
}