.character-button {
    position: relative;
}

.character-button a img {
    width: 80vw;
    max-width: fit-content;
}

.character-button p {
    position: absolute;
    font-weight: bold;
    font-size: 32px;
    top: 50%;
    left: 20%;
    transform: translate(0%, -50%);
    color: white;
    text-decoration: none !important;
}